.home {
  flex: 1;
  max-width: 300px;
  height: 100%;
  padding-right: 2em;
  font-size: 10px;
  line-height: 1.23;
  -webkit-animation: fadein 1.9s; /* Safari, Chrome and Opera > 12.1 */

}

.sideBySideRate {
  margin-top: -10px;
  display: inline-block;
}

@keyframes fadein {
  from { opacity: 0.15; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0.15; }
  to   { opacity: 1; }
}

.reviewers {
  position: relative;
  float: right;
  text-align: right;
}




/* -------------------------------
    image transitions

    (could not find correct way to modularize CSS with CSSTransition groups...below is best attempt according to similar conversion rules)

    rules will reside in public folder style sheet

------------------------------- */

/* .carouselAppear {
  opacity: 0;
}

.carouselAppear .carouselAppearActive {
opacity: 1;
transition: opacity 1000ms;
}

.carouselEnter {
  opacity: 0;
  z-index: auto;
}
.carouselEnter .carouselEnterActive {
  opacity: 1;
  transition: opacity 5000ms;
}
.carouselExit {
  opacity: 1;
  position: absolute;
}
.carouselExit .carouselExitActive {
  opacity: 0;
  transition: opacity 5000ms;
  position: absolute;
  margin-left: 20px;
}
.carousel .exitDone {
 opacity: 0;
 position: absolute;
} */

/* -------------------------------
    for buttons over images
------------------------------- */

.container .img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
}

.container .btnLeft {
  outline: none;
  position: absolute;
  background: transparent;
  top: 47%;
  left: 7%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(216, 238, 223);
  border: none;
  cursor: pointer;
}

.container .btnRight {
  outline: none;
  position: absolute;
  background: transparent;
  top: 47%;
  right: -3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(216, 238, 223);
  border: none;
  cursor: pointer;
}

.container .btnLeft:hover {
  animation: place-order-keyframes 0.9s linear;
  background: transparent;
}

.container .btnRight:hover {
  animation: place-order-keyframes 0.9s linear;
  background: transparent;
}

@keyframes place-order-keyframes {
  0% {
    box-shadow: 0 0 0 0 rgba(104, 196, 188, 0.8);
  }
  4%,
      90% {
    box-shadow: 0 0 25px 3px rgba(104, 196, 188, 0.8);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(104, 196, 188, 0.8);
  }
}

