.listWrapper {
  /* width: 780px;
  border: 3px solid #fb5454; */
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;

  margin: 2;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.container {
  width: 797px;
  /* border: 3px solid #800080; */
  overflow: hidden;
  }


  /*
.left-button {
  float: left;
  position: absolute;
  cursor:pointer;
  width: 10px;
  height: 10px;

}
.right-button {
  float: right;
  cursor:pointer;
  width: 10px;
  height: 10px;

} */
